@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?959t0w');
  src:  url('../fonts/icomoon.eot?959t0w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?959t0w') format('truetype'),
    url('../fonts/icomoon.woff?959t0w') format('woff'),
    url('../fonts/icomoon.svg?959t0w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-around-down:before {
  content: "\e900";
  color: #fff;
}
.icon-arrow-around-left:before {
  content: "\e901";
}
.icon-arrow-around-right:before {
  content: "\e902";
}
.icon-arrow-around-up:before {
  content: "\e903";
}
.icon-bin:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e905";
  color: #fff;
}
.icon-email:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
  color: #174051;
}
.icon-phone-2:before {
  content: "\e90b";
}
.icon-price:before {
  content: "\e90c";
  color: #174051;
}
.icon-search:before {
  content: "\e90d";
}
.icon-truck:before {
  content: "\e90e";
  color: #560303;
}
.icon-user:before {
  content: "\e90f";
}
.icon-vk:before {
  content: "\e910";
}
