.ui-widget.ui-widget-content {
	height: 5px;
	background: #E5E5E5;
	border: 0px;
	border-radius: 0px;
}
.ui-widget-content .ui-state-default {
	border: 2px solid #F03C3C;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	background-color: #fff;
}
.ui-widget-header {
	background-color: #F03C3C;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
}
.catalog-order {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #898989;
	select {
		text-align: right;
		border: 0px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}
}


input[type="number"] {
	width: 100px;
	border: 1px solid #898989;
	color: #495057;
	background-color: transparent;
	padding: 14px 20px 14px 40px;

	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.custom-radio {
	padding-left: 33px;
	cursor: pointer;
	.custom-control-label {
		font-size: 18px;
		line-height: 21px;
		color: #000000;cursor: pointer;
		&::before {
			cursor: pointer;
			width: 20px;
			height: 20px;
			top: calc(50% - 10px);
			left: -33px;
			border: 1px solid #FC4A1A;
		}
	}
	.custom-control-input {
		cursor: pointer;
		&:focus {
			outline: none;
		}
		&:checked~.custom-control-label::before {
			background: none;
			border: 1px solid #FC4A1A;
			box-shadow: unset;
		}
		&:checked~.custom-control-label::after {
			cursor: pointer;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			top: calc(50% - 5px);
			left: -28px;
			background: #FC4A1A;
		}
	}
}
.custom-checkbox {
	.custom-control-input {
		box-shadow: unset;
		outline: 0;
    	outline-offset: 0;
		&:focus {
			box-shadow: unset;
			outline: 0;
    		outline-offset: 0;
		}
	}
	.custom-control-label {
		box-shadow: unset;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #898989;
		&::before {
			top: calc(50% - 7px);
			left: -24px;

			width: 15px;
			height: 15px;
			border: 1px solid #898989;
			border-radius: 3px;
			box-shadow: unset;
		}
		&::after {
			box-shadow: unset;
			top: calc(50% - 8px);
			left: -24px;
		}
	}
	.custom-control-input:checked~.custom-control-label::before {
		background-color: $colorMain;
		border-color: $colorMain;
		box-shadow: unset;
	}
}

.input-checkbox {
	display: inline-block;
	cursor: pointer;
	position: relative;
	input {
		display: none;
	}
	.text {
		padding-left: 24px;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
	}
	.checkmark {
		position: absolute;
		left: 0px;
		top: calc(50% - 8px);

		width: 16px;
		height: 16px;
		border: 1px solid #E5E5E5;
		border-radius: 3px;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 2px;
			top: calc(50% - 5px);
			width: 10px;
			height: 10px;
			border-radius: 100%;			
		}
	}    
	input:checked + span + .checkmark {
		background-color: #f03c3c;
		&:before {
			font-family: icomoon!important;
			content: "\e900";
			color: #fff;
			font-size: 10px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

}


.product-quantity {
	.cart-plus-minus {
		display: flex;
		align-items: center;
		input.cart-plus-minus-box {
			padding: 0px;
			width: 32px;
			text-align: center;
			border: 0px;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
	.qtybutton {
		border: 1px solid #E1E1E1;
		width: 27px;
		height: 27px;
		min-width: 27px;
		min-height: 27px;
		background :none;
		border-radius: 0px;
		
		color: #000;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: $transitionMain;
		&:hover {
			color: $colorMain;
			cursor: pointer;
			background: none;
			border-color: $colorMain;
		}
		&.dec {
			padding-bottom: 3px;
		}
	}
}
.form-control {
	background: #F7F7F7;
	border-radius: 10px;
	border: 0px;
	padding: 9px 22px;

	font-size: 18px;
	line-height: 21px;
	color: #000000;
	&.form-control_empty {
		border: 1px solid #898989;
		background: none;
		padding: 14px 17px;
		color: #898989;
		border-radius: 0px;
	} 
	&.form-control_area {
		padding-top: 25px;
		padding-bottom: 25px;
		min-height: 283px;
	}
}
textarea.form-control {
	min-height: 142px;
	padding: 20px 13px;
}
.cart-block {
	padding-bottom: 70px;
}
.grand-totall {
	background: #EFEFEF;
	padding: 16px 13px;
}
