.btn {
	color: #000000;
	border: 1px solid #e5e3e3;
	padding: 15px 26px;
	border-radius: 0px;

	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000;

	transition: $transitionMain;
	&:hover {
		background-color: #e5e3e3;
	}
	&.btn_around-11 {
		border-radius: 11px;
	}
	&.btn_main {
		color: #FFFFFF;
		border-color: #174051;
		background-color: #174051;
		text-transform: uppercase;
		
		&:hover {
			color: #000;
			background: none;
		}
	}
	&.btn_pad-7-20 {
		padding: 7px 20px;
	}
	&.btn__more {
		font-weight: 600;
		font-size: 18px;
		padding: 0px;
		padding-bottom: 1px;
		border: 0px;
		border-bottom: 1px solid #000;

		background: none;
		&:hover {
			border: 0px;
			color: $colorMain;
			border-bottom: 1px solid $colorMain;
		}
	}
	&.btn_color_main {
		font-size: 18px;
		line-height: 22px;
		background-color: $colorMain;
		border-color: $colorMain;
		text-transform: none;
	}
}


.btn-to-top {
	cursor: pointer;
	width: 45px;
	height: 45px;
	background-color: #fff;
	border: 1px solid $colorMain;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	z-index: 5;
	bottom: 25px;
	right: -100px;
	transition: $transitionMain;
	.btn-to-top__content {
		font-size: 16px;
		color: #000;
		transition: $transitionMain;
	}
	&.btn-to-top_show {
		right: 15px;
	}
	&:hover {
		background-color: $colorMain;
		.btn-to-top__content {
			transition: $transitionMain;
			color: #fff;
		}
	}
}


.btn-like {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid #E5E5E5;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 24px;
	color: #9C9E9C;

	transition: $transitionMain;
	&:hover {
		text-decoration: none;
		background: #f03c3c;
		color: #fff;
	}
}