div(class="breadcrumb-block")
	div(class="container")
		div(class="row")
			div(class="col-12")
				h1(class="font-36 font-weight-600 pb-2")
					| Каталог
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Главная</a></li>
						<li class="breadcrumb-item active" aria-current="page">Каталог</li>
					</ol>
				</nav>