footer(class="footer")
	div(class="container")
		div(class="footer-top")
			div(class="row")
				div(class="col-12 col-lg-5 pb-5 pb-lg-0 d-none d-lg-block")
					span(class="block-header font-24 font-weight-500 mb-4 d-block")
						| Каталог
					div(class="row")
						div(class="col-12 col-lg-5 pb-3 d-flex flex-column")
							-for(let i = 0; i < 7; i++)
								a(class="footer-nav-item" href="#")
									| Категория
						div(class="col-12 col-lg-5 d-flex flex-column")
							-for(let q = 0; q < 7; q++)
								a(class="footer-nav-item" href="#")
									| Категория
				div(class="col-12 col-lg-3 pb-5 pb-lg-0 d-none d-lg-block")
					span(class="block-header font-24 font-weight-500 mb-4 d-block")
						| Дополнительно
					div(class="d-flex flex-column")
						a(class="footer-nav-item" href="#")
							| Доставка и оплата
						a(class="footer-nav-item" href="#")
							| О компании
						a(class="footer-nav-item" href="#")
							| Сотрудничество
						a(class="footer-nav-item" href="#")
							| Контакты
				div(class="col-12 col-lg-4")
					span(class="block-header font-24 font-weight-500 mb-4 d-none d-lg-block")
						| Контакты
					div(class="d-flex flex-column align-items-start")
						div(class="d-flex mb-4")
							span(class="icon-phone-2 font-14 mr-3")
							div(class="d-flex flex-column")
								span(class="font-14 mb-2 mr-2")
									| принимаем звонки каждый день с 9.00 до 21.00
								a(class="link_color font-36" href="tel:+79000000000")
									b
										| +7 900 000-00-00
						div(class="d-flex mb-3")
							span(class="icon-location font-14 mr-3")
							span(class="font-14")
								| Челябинск
						div(class="d-flex")
							span(class="icon-email font-14 mr-3")
							a(class="font-14 footer-nav-item m-0" href="mailto:mail@mail.ru")
								| mail@mail.ru
	div(class="footer-bottom")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-6 d-flex justify-content-center d-lg-block pb-3 pb-lg-0")
					a(href="#" class="font-14")
						| 2021 - политика конфиденциальности
				div(class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end")
					a(href="https://deksis.ru/" class="font-14 dek")
						| Создание сайта DEKSIS.RU