div(class="menu-modal")
	div(class="menu-modal__content")
		<div class="d-flex justify-content-between align-items-center mb-4">
			a(class="logo" href="#")
				img(class="lazyload" data-src="images/logo.png" alt="img" title="img")
			div(class="menu-modal__close")
		</div>
		nav(class="navigation navigation_mobile d-flex flex-column align-items-start")
			each item, index in ["главная", "О компании", "Доставка", "Оплата", "Оптовикам"]
				if(index == 1)
					a(class="navigation__link active" href="epiclegend.ru")
						= item
				else
					a(class="navigation__link" href="#")
						= item
		div(class="menu-modal__block d-flex justify-content-center")
			a(class="header-phone" href="tel:+79000000000")
				| +7 (900) 000-00-00
		div(class="social d-flex justify-content-center")
			a(class="social__item" href="#")
				span(class="icon-vk")
			a(class="social__item" href="#")
				span(class="icon-instagram")