header(class="header")
	div(class="header__top d-none d-lg-block")
		div(class="container")
			div(class="row align-items-center")
				div(class="col-2")
					div(class="social")
						a(class="social__item" href="#")
							span(class="icon-vk")
						a(class="social__item" href="#")
							span(class="icon-instagram")
				div(class="col-3")
					p(class="font-14 m-0")
						| НИЗКИЕ ЦЕНЫ на всю продукцию
				div(class="col d-flex justify-content-end align-items-center")
					a(class="heart-link mr-3" href="#")
							span(class="icon-heart")
					a(class="user-link" href="#")
						span(class="icon-user")
	div(class="header__middle")
		div(class="container")
			div(class="row")
				div(class="col-2 order-1")
					a(class="logo" href="#")
						img(class="lazyload img-fluid" data-src="images/logo.png")
				div(class="col-12 col-lg-4 order-5 order-lg-2")
					form(action="#" class="form-search")
						input(placeholder="Поиск по сайту ..." type="text" class="form-search__input")
						button(class="form-search__btn" type="submit")
							span(class="icon-search")
				div(class="col-lg-3 d-none d-lg-flex justify-content-center order-3")
					a(class="price-link d-flex align-items-center" href="#")
						span(class="icon-price mr-2")
						span(class="font-14")
							b
								| Оптовый<br>прайс-лист
				div(class="col-8 col-lg-3 d-flex justify-content-center order-2 order-lg-4")
					a(class="phone-link  d-flex align-items-center" href="tel:+79000000000")
						span(class="icon-phone mr-2")
						span(class="d-flex flex-column align-items-end align-items-lg-start")
							span(class="d-none d-lg-block")
								| Пн-Пт: 9.00 - 20.00
							span(class="phone-link__number")
								b
									| +7 (900) 000-00-00
							span(class="d-block d-lg-none")
								| заказать звонок
				div(class="col-2 d-flex d-lg-none justify-content-end order-3")
					div(id="burger" class="d-flex d-lg-none")
						span
	div(class="header__bottom")
		div(class="container")
			div(class="row align-items-center")
				div(class="col-12 col-lg-3")
					div(class="catalog-btn")
						| Каталог
						span(class="icon-arrow-around-down")
						<div class="catalog-drop">
							<div class="position-relative">
								<div class="catalog-drop-header pb-5">
									<div class="container">
										<div class="row">
											<div class="col-12 d-flex justify-content-between align-items-center">
												<img class="logo lazyload" data-src="images/logo.png" alt="img">
												<div class="catalog-drop-close">
													span()
														| +
												</div>
											</div>
										</div>
									</div>
								</div>
								<div>
									<div class="container">
										<div class="row pb-4">
											<div class="col-12 col-lg-3 d-flex flex-column align-items-start">
												<a href="#" class="title active mb-4">
													<img class="lazyload" data-src="https://via.placeholder.com/50x50" alt="img" title="img">
													<span>Пиломатериалы</span>
												</a>
												<a href="#" class="title">
													<img class="lazyload" data-src="https://via.placeholder.com/50x50" alt="img" title="img">
													<span>Пиломатериалы</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				div(class="col-7 d-none d-lg-block")
					nav(class="navigation d-flex justify-content-around")
						each item, index in ["главная", "О компании", "Доставка", "Оплата", "Оптовикам"]
							if(index == 1)
								a(class="navigation__link active" href="epiclegend.ru")
									= item
							else
								a(class="navigation__link" href="#")
									= item
				div(class="col-2 d-none d-lg-block align-items-center justify-content-center")
					div(class="d-flex align-items-center")
						div(class="minicart")
							<!-- убрать класс minicart__link_btn если не нужно открывать меню -->
							<!-- Например, для телефона -->
							<!-- Чтобы по клику был переход на страницу, а не выпадало меню -->
							a(class="minicart__link minicart__link_btn" href="#")
								span(class="icon-cart")
								<span class="minicart__count">2</span>
						span(class="font-16 text-white ml-4")
							b
								| 2 354 ₽						
	div(class="minicart__dropdown")
		div(class="minicart__dropdown_content")
			div(class="d-flex justify-content-end pb-3")
				span(class="minicart__dropdown_close")
					| +
			ul(class="minicart__list-content")
				-for (let i = 0; i < 10; i++)
					li(class="minicart__product")
						<div class="minicart__preview">
							<a href="#">
								<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
							</a>
						</div>
						<div class="minicart__title">
							<a href="#">MVTH Leather watch - BouleVard Edit</a>
							<span> 1 × <span class="price">4 999 ₽</span></span>
						</div>
						form(class="minicart__delete" action="" method="")
							<a href="#">
								span(class="icon-bin")
							</a>
			<div class="minicart__total">
				span()
					| Цена
				span()
					| 4 999 ₽
			</div>
			<div class="minicart-btns d-flex flex-column">
				<a class="btn mb-3" href="#">Корзина</a>
				<a class="btn btn_main" href="#">Оформить</a>
			</div>