.footer {
	.footer-top {
		border-top: 1px solid #E5E5E5;
		padding: 50px 0 40px 0px;
		@media (max-width: 991px) {
			padding: 36px 0 70px 0;
		}
	}
	.footer-bottom {
		padding: 33px 0 37px 0;
		border-top: 1px solid #E5E5E5;
		a {
			font-size: 14px;
			line-height: 16px;
			color: #9C9E9C;
			transition: $transitionMain;
			&.dek {
				color: #000;
			}
			&:hover {
				text-decoration: none;
				color: $colorMain;
			}
		}
	}
	.footer-nav-item {
		display: inline-block;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		margin-bottom: 15px;
		transition: $transitionMain;
		&:hover {
			color: $colorMain;
			text-decoration: none;
		}
	}
	.link_color {
		color: #174051;
		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
	
}