.pagination {
    .page-item {
        margin-right: 12px;
        &:last-child {
            margin-right: 0px;
        }
        &.active {
            .page-link {
                color: #fff;
                background: #F03C3C;
            }
        }
        
    }
    .page-link {
        border: 0px;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: $transitionMain;

        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        &:hover {
            background: #fff;
            color: #F03C3C;
        }
        &.page-link_arrow {
            border-radius: 100%;
            background-color: #E5E5E5;
            &:hover {
                background: #F03C3C;
                color: #fff;
            }
            &.page-link_arrow_right {
                span {
                    margin-right: -4px;
                }
            }
            &.page-link_arrow_left {
                span {
                    margin-left: -4px;
                }
            }
        }
    }
}