extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="about pt-5")
		div(class="container pt-4")
			div(class="row")
				div(class="col-12 col-lg-4 pb-5 pb-lg-0 d-flex justify-content-center")
					img(class="lazyload img-fluid" data-src="images/about.png" alt="img")
				div(class="col-12 col-lg-8 pt-5 pt-lg-0")
					h1(class="font-24 mb-4")
						b
							| Добро пожаловать в интернет-магазин
					p
						| Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Равным образом сложившаяся структура организации играет важную роль в формировании форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.
	<div class="service-area d-none d-lg-block pt-5 mb-5">
		<div class="container">
			<div class="service-wrap m-0">
				<div class="row align-items-center">
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Доставка товарв</span>
								<span>Мы доставим товар на объект в нужное время</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Гарантия</span>
								<span>Гарантия на весь товар</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Большой выбор</span>
								<span>Большой выбор товара</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Лучшая цена</span>
								<span>Нашли дешевле, мы вернем вам разницу</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	div(class="container pb-90")
		div(class="row")
			div(class="col-12")
				h2(class="font-24 text-center mb-5")
					b
						| Наша команда
			-for(let i = 0; i < 4; i++)
				div(class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0")
					div(class="team-item")
						div(class="pb-3")
							img( class="w-100 lazyload" data-src="images/user.png" alt="img" title="user")
						span(class="text-center font-24 d-block")
							b
								| Иван Иванов
						span(class="text-center font-18 d-block")
							| продавец-консультант
