extends base.pug
block content
	include components/breadcrumbs.pug
	<div class="shop-area">
		<div class="container">
			<div class="row flex-row-reverse">
				<div class="col-lg-9">
					<div class="shop-topbar-wrapper">
						<label class="font-18 mr-2">Сортировка</label>
						<select>
							<option value="">по цене</option>
							<option value="">по алфавиту</option>
							<option value="">по популярности</option>
						</select>
					</div>
					<div class="shop-bottom-area">
						div(class="row")
							- for (var i = 0; i < 9; i++)
								<div class="col-12 col-md-6 col-lg-4 mb-5">
									div(class="product-plr-1")
										<form class="single-product-wrap single-product-wrap_block" action="" method="">
											<div class="product-img product-img-zoom mb-3">
												<a href="#">
													<img class="lazyload img-fluid" data-src="images/product.png" alt="img" title="img">
												</a>
												<span class="pro-badge">-40%</span>
												<div class="product-action">
													<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
												</div>
											</div>
											<div class="product-content-wrap-3">
												span(class="categ")
													| Арт. 12750175
												<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
												<div class="product-price-4">
													<span class="new-price">530 ₽/шт.</span>
													<span class="old-price">730 ₽/шт.</span>
												</div>
											</div>
											<div class="product-content-wrap-3 product-content-position">
												span(class="categ")
													| Арт. 12750175
												<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
												<div class="product-price-4">
													<span class="new-price">530 ₽/шт.</span>
													<span class="old-price">730 ₽/шт.</span>
												</div>
												div(class="pt-3 pb-3 d-flex justify-content-center")
													button(type="submit" class="btn btn_main btn_around-11 btn_pad-7-20")
														| В корзину
											</div>
										</form>
								</div>
						<nav aria-label="Page navigation example" class="d-flex justify-content-center align-items-center pb-80">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link page-link_arrow page-link_arrow_left" href="#" aria-label="Previous">
										span(class="icon-arrow-around-left")
									</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link page-link_arrow page-link_arrow_right" href="#" aria-label="Next">
										span(class="icon-arrow-around-right")
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="sidebar-wrapper sidebar-wrapper-mrg-right">
						<div class="sidebar-widget">
							<span class="sidebar-widget-title sidebar-widget-title_border">Категории</span>
							<div class="d-flex flex-column align-items-start">
								-for(let i = 0; i < 6; i++)
									a(class="sidebar-widget__link" href="#")
										| Категория товара
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Фильтр по цене</span>
							<div class="price-filter">
								<div id="slider-range"></div>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Сорт</span>
							<div class="d-flex flex-column align-items-start">
									each item in ["1/1", "1/2", "1/3", "2/4"]
										label(class="input-checkbox")
											input(type="checkbox" value="")
											span(class="text")
												= item
												<span>(4)</span>
											span(class="checkmark")
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Толщина (мм)</span>
							<div class="d-flex flex-column align-items-start">
									each item in ["4,0", "6,0", "6,5", "8,0"]
										label(class="input-checkbox")
											input(type="checkbox" value="")
											span(class="text")
												= item
												<span>(4)</span>
											span(class="checkmark")
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	include components/info-block-area.pug
	
