extends base.pug
block content
	div(class="welcome")
		div(class="swiper-welcome swiper-container")
			div(class="swiper-wrapper")
				div(class="swiper-slide")
					div(class="container")
						div(class="row")
							div(class="col-12 col-lg-4 offset-lg-1 d-flex flex-column align-items-start d-lg-block py-50")
								span(class="swiper-welcome__tag animated")
									| Новинка
								h1(class="swiper-welcome__title animated")
									| Кровля<br>двускатная
								p(class="swiper-welcome__description animated")
									| Кровля с доставкой по Челябинской области собственным транспортом
								a(class="btn btn_main swiper-welcome__link animated" href="#")
									| ПОДРОБНЕЕ
							div(class="col-12 col-lg-7 position-relative d-flex justify-content-center d-lg-block")
								img(class="swiper-welcome__img img-fluid animated" src="images/sliderwelcome.png" alt="img" title="img")
				div(class="swiper-slide")
					div(class="container")
						div(class="row")
							div(class="col-12 col-lg-4 offset-lg-1 d-flex flex-column align-items-start d-lg-block py-50")
								span(class="swiper-welcome__tag animated")
									| Новинка
								h1(class="swiper-welcome__title animated")
									| Кровля<br>двускатная
								p(class="swiper-welcome__description animated")
									| Кровля с доставкой по Челябинской области собственным транспортом
								a(class="btn btn_main swiper-welcome__link animated" href="#")
									| ПОДРОБНЕЕ
							div(class="col-12 col-lg-7 position-relative d-flex justify-content-center d-lg-block")
								img(class="swiper-welcome__img img-fluid animated" src="images/sliderwelcome.png" alt="img" title="img")
	<div class="service-area d-none d-lg-block">
		<div class="container">
			<div class="service-wrap">
				<div class="row align-items-center">
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Доставка товарв</span>
								<span>Мы доставим товар на объект в нужное время</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Гарантия</span>
								<span>Гарантия на весь товар</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Большой выбор</span>
								<span>Большой выбор товара</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
						<div class="single-service-wrap mb-30">
							div(class="single-service-wrap__preview")
								span(class="icon-truck")
							<div class="service-content">
								<span>Лучшая цена</span>
								<span>Нашли дешевле, мы вернем вам разницу</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	div(class="container pt-70")
		div(class="row")
			div(class="col-12 col-lg-10 offset-lg-1")
				h2(class="text-center mb-5 font-18 font-weight-600")
					| Добро пожаловать в наш интернет магазин. У нас большой выбор фасадных материалов, все для кровли и внутренней отделки. Работаем с юридическими и физическими лицами
			-let titleAr = ["Фасадные материалы", "Кровельные материалы", "Внутренняя отделка", "Напольные покрытия"]
			-let desAr = ["Сайдинг, фасадные панели, сайдинг, группа товаров", "Кровля, материалы для кровли и т.д.", "Жидкие обои, фактурная штукатурка, панели ПВХ", "Резиновая плитка, и  т.д., и т.п."]
			-let imgAr = ["images/banner1.png", "images/banner2.png", "images/banner3.png", "images/banner4.png"]
			-for (let i = 0; i < 4; i++)
				div(class="col-12 col-lg-6")
					div(class="banner-product d-flex justify-content-between")
						div(class="banner-product__left")
							h3(class="title")
								= titleAr[i]
							p(class="description")
								= desAr[i]
							a(class="btn btn_main" href="#")
								| подробнее
						div(class="banner-product__right")
							img(class="d-block img-fluid lazyload banner-product__img" data-src=imgAr[i] alt="img" title="img")
	div(class="container pt-25 pt-lg-50")
		div( class="row justify-content-center")
			div(class="col-12 col-lg-4 text-center pb-4")
				h2(class="font-24 font-weight-600 mb-5")
					| Лучшие предложения месяца
			div(class="col-12")
				div(class="swiper-hot-product swiper-default swiper-container")
					div(class="swiper-wrapper")
						-for (var i = 0; i < 5; i++)
							div(class="swiper-slide")
								<div class="product-plr-1 pb-4">
									<form class="single-product-wrap single-product-wrap_no-shadow" action="" method="">
										<div class="product-img product-img-zoom mb-3">
											<a href="product-details.html">
												<img class="lazyload" data-src="images/product-mini.png" alt="img" title="img">
											</a>
											<span class="pro-badge">-40%</span>
											<div class="product-action">
												<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
											</div>
										</div>
										<div class="product-content-wrap-3">
											<a href="#" class="title">Доска обработанная</a>
											<div class="product-price-4">
												<span class="new-price">1 500 ₽</span>
												<span class="old-price">2 500 ₽</span>
											</div>
											div(class="pt-3")
												button(type="submit" class="btn btn_main btn_around-11 btn_pad-7-20")
													| В корзину
										</div>
									</form>
								</div>
					div(class="swiper-hot-product-button-prev swiper-button-prev")
						span(class="icon-arrow-around-left")
					div(class="swiper-hot-product-button-next swiper-button-next")
						span(class="icon-arrow-around-right")
	div(class="container pt-80 pb-60")
		div(class="row")
			div(class="col-12")
				h2(class="font-24 text-center font-weight-600 mb-0")
					| Наши бренды
			div(class="col-12")
				div(class="swiper-brend swiper-default swiper-container py-43")
					div(class="swiper-wrapper d-flex align-items-center")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.4s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.8s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.2s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="1.6s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="2s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="2s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="2s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
						div(class="swiper-slide d-flex align-items-center justify-content-center wow fadeInUp" data-wow-duration="1.4s" data-wow-delay="2s")
							img(class="lazyload img-fluid" data-src="images/brend.png" alt="img" title="img")
					div(class="swiper-brend-button-prev swiper-button-prev")
						span(class="icon-arrow-around-left")
					div(class="swiper-brend-button-next swiper-button-next")
						span(class="icon-arrow-around-right")
					div(class="swiper-brend-pagination")
	include components/info-block-area.pug
	div(class="container py-60")
		div(class="row")
			div(class="col-12")
				h2(class="mb-3 mb-lg-5 font-24 font-weight-600")
					| Наши новости
			div(class="col-12")
				div(class="swiper-news swiper-default swiper-container")
					div(class="swiper-wrapper d-flex align-items-center")
						-for(let i = 0; i < 4; i++)
							div(class="swiper-slide d-flex align-items-center justify-content-center")
								div(class="news-mini")
									a(class="news-mini__preview" href="#")
										img(class="img-fluid" src="images/news.png" alt="img" title="img")
									span(class="news-mini__date")
										| 30.12.2020
									a(class="news-mini__title" href="#")
										| Правильная подготовка к установке кровли
									p(class="news-mini__description")
										| Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации существенных финансовых и административных условий.
									a(class="btn btn__more" href="#")
										| ПОДРОБНЕЕ
					div(class="swiper-news-button-prev swiper-button-prev")
						span(class="icon-arrow-around-left")
					div(class="swiper-news-button-next swiper-button-next")
						span(class="icon-arrow-around-right")