extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-100 pb-100")
		div(class="row")
			div(class="col-12")
				h1
					| Здесть просто текст h1
				p
					| это p
				h2
					| А Это h2
				ul
					li
						| О!
					li
						| А это
					li
						| маркированный список
				h3
					| Здесь у нас h3
				p
					| это еще один p
				ol
					li
						| Ну а
					li
						| это нумерованный список
				h4
					| Вот это h4 и ниже спускаться не буду
				table
					tr
						td
							| td
						td
							| td
					tr
						td
							| td
						td
							| td