extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-70 pb-100")
		div(class="row align-items-start pb-4")
			div(class="col-12 col-lg-6")
				<div class="swiper-default swiper-container gallery-top py-5">
					<div class="swiper-wrapper">
						-for(let i = 0; i < 10; i++)
							div(class="swiper-slide")
								img(class="img-fluid " src="images/product.png" alt="img" title="img")
					</div>
					<div class="swiper-button-next">
						span(class="icon-arrow-around-right")
					</div>
					<div class="swiper-button-prev">
						span(class="icon-arrow-around-left")
					</div>
				</div>
				<div class="swiper-container gallery-thumbs">
					<div class="swiper-wrapper">
						-for(let i = 0; i < 10; i++)
							div(class="swiper-slide")
								img(class="img-fluid " src="images/product.png" alt="img" title="img")
					</div>
				</div>
			div(class="col-12 col-lg-6")
				div(class="product")
					h1(class="font-24 font-weight-500 mb-4")
						| Кровельный материал номер один, первого сорта
					div(class="category-item__price-block d-flex align-items-center pb-4")
						span(class="now order")
							| 1 999 ₽
						span(class="old")
							| 2 999 ₽
					div()
						span(class="d-block font-14 mb-3")
							b
								| Количество						
					form(class="d-flex flex-column align-items-start mb-3" action="" method="")
						div(class="product-quantity mb-4")
							<div class="cart-plus-minus">
								<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
							</div>
						div(class="d-flex align-items-center")
							button(class="btn-add-product btn btn_main mr-3" type="submit")
								| добавить в корзину
							a(class="btn-like" href="#")
								span(class="icon-heart")
					span(class="product-count_stock")
						| В наличии
					div(class="product-delivery d-flex align-items-center")
						div(class="d-flex align-items-center mr-4")
							span(class="icon-truck")
							span(class="pl-3")
								| Доставка товара
						div(class="d-flex align-items-center")
							span(class="icon-location")
							span(class="pl-3")
								| Самовывоз
		div(class="row")
			div(class="col-12 pt-5")
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Описание</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-det-tab" data-toggle="pill" href="#pills-det" role="tab" aria-controls="pills-det" aria-selected="false">Характеристики</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-ser-tab" data-toggle="pill" href="#pills-ser" role="tab" aria-controls="pills-ser" aria-selected="false">Похожие товары</a>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent" >
					<div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
						p
							| Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
						p
							| Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития.
						p
							| Таким образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. Задача организации, в особенности же новая модель организационной деятельности играет важную роль в формировании модели развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
					</div>
					<div class="tab-pane fade" id="pills-det" role="tabpanel" aria-labelledby="pills-det-tab">...</div>
					<div class="tab-pane fade" id="pills-ser" role="tabpanel" aria-labelledby="pills-ser-tab">...</div>
				</div>
	div(class="container pb-40 pb-lg-120")
		div(class="row")
			div(class="col-12")
				h2(class="font-24 text-center mb-40")
					b
						| Сопутствующие товары
			div(class="col-12")
				div(class="swiper-products swiper-default swiper-container pb-5")
					div(class="swiper-wrapper")
						-for(let i = 0; i < 7;i++)
							div(class="swiper-slide")
								div(class="product-plr-1")
									<form class="single-product-wrap single-product-wrap_block" action="" method="">
										<div class="product-img product-img-zoom mb-3">
											<a href="#">
												<img class="lazyload img-fluid" data-src="images/product.png" alt="img" title="img">
											</a>
											<span class="pro-badge">-40%</span>
											<div class="product-action">
												<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
											</div>
										</div>
										<div class="product-content-wrap-3">
											span(class="categ")
												| Арт. 12750175
											<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
											<div class="product-price-4">
												<span class="new-price">530 ₽/шт.</span>
												<span class="old-price">730 ₽/шт.</span>
											</div>
										</div>
										<div class="product-content-wrap-3 product-content-position">
											span(class="categ")
												| Арт. 12750175
											<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
											<div class="product-price-4">
												<span class="new-price">530 ₽/шт.</span>
												<span class="old-price">730 ₽/шт.</span>
											</div>
											div(class="pt-3 pb-3 d-flex justify-content-center")
												button(type="submit" class="btn btn_main btn_around-11 btn_pad-7-20")
													| В корзину											
										</div>
									</form>
					<div class="swiper-products-button-next swiper-button-next ">
						span(class="icon-arrow-around-right")
					</div>
					<div class="swiper-products-button-prev swiper-button-prev">
						span(class="icon-arrow-around-left")
					</div>