/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/swiper/swiper.scss";
@import "variables/_variables";
@import "mixin.scss";
@import "fonts/_fonts";

@import "library/_animate.css";


@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "breadcrumb/_breadcrumb";
@import "library/jquery-ui.css";
@import "pagination/_pagination.scss";



.swiper-default {
	.swiper-button-prev,
	.swiper-button-next {
		cursor: pointer;
		position: absolute;
		z-index: 5;
		left: -100px;
		top: calc(50% - 20px);

		width: 40px;
		height: 40px;
		border: 1px solid $colorMain;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;

		background: #FFFFFF;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		border: 0px;
		border-radius: 100%;
		padding: 5px;
		font-size: 14px;

		transition: $transitionMain;
		&:hover {
			background: $colorMain;
			color: #fff;
		}
		@media (max-width: 991px) {
			left: 5px;
		}
	}
	.swiper-button-next {
		right: -100px;
		left: unset;
		@media (max-width: 991px) {
			right: 5px;
		}
	}
	&:hover {
		@media (min-width: 992px) {
			.swiper-button-prev {
				left: 0px;
			}
			.swiper-button-next {
				right: 0px;
			}
		}
	}
	.swiper-pagination-bullets {
		display: flex;
		.swiper-pagination-bullet {
			width: 13px;
			height: 13px;
			display: block;
			background: #F4F4F4;
			transition: $transitionMain;
			border-radius: 100%;
			margin-right: 15px;
			&.swiper-pagination-bullet-active{
				background: #174051;
			}
			&:last-child {
				margin: 0px;
			}
		}
	}
}

.content {
	min-height: 100vh;
}
.welcome {
	min-height: 50vh;
	padding-bottom: 70px;
	
	background-color: #F0F0F0;
	@media (max-width: 991px) {
		height: 100%;
		max-height: 700px;
		padding: 0px;
	}
}
.swiper-welcome {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	.swiper-wrapper {
		align-items: flex-end;
	}
	.swiper-slide {
		height: 100%;
		z-index: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		&.swiper-slide-active {
			z-index: 2;
			.swiper-welcome__title,
			.swiper-welcome__description,
			.swiper-welcome__link,
			.swiper-welcome__tag {
				animation-duration: $animDurationMain;
				animation-delay: 0.1s;
				animation-name: fadeInRight;
			}
			.swiper-welcome__description {
				animation-delay: 0.5s;
			}
			.swiper-welcome__link {
				animation-delay: 0.9s;
			}
			.swiper-welcome__img {
				opacity: 1;
				animation-duration: $animDurationMain;
				animation-delay: 0.1s;
				animation-name: fadeInLeft;
			}
		}
	}
	.swiper-welcome__tag {
		display: block;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 11px;
		@media (max-width: 991px) {
			display: none;
		}
	}
	.swiper-welcome__title {
		font-weight: bold;
		font-size: 48px;
		line-height: 56px;
		color: #000000;
		margin-bottom: 7px;
		@media (max-width: 991px) {
			font-size: 36px;
			line-height: 38px;
			text-align: left;
			margin-bottom: 25px;
		}
	}
	.swiper-welcome__description {
		font-size: 18px;
		line-height: 21px;
		color: #898989;
		margin-bottom: 38px;
	}
	.swiper-welcome-button-prev,
	.swiper-welcome-button-next {
		-webkit-transform: translate3d(0, 0, 0); 
		transform: translate3d(0, 0, 0);

		position: absolute;
		z-index: 3;
		cursor: pointer;
		right: 16px;
		top: unset;
		bottom: 0px;
		width: 60px;
		height: 60px;
		background-color: rgba(255, 255, 255, 1);

		font-size: 26px;
		color: #000;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: $transitionMain;
		&:hover {
			background-color: $colorMain;
			color: #fff;
		}
	}
	.swiper-welcome-button-prev {
		right: 126px;
	}
	.swiper-welcome-pagination {
		position: absolute;
		z-index: 2;
		left: 60px;
		bottom: 30px;
		display: flex;
		.swiper-pagination-bullet {
			display: block;
			width: 36px;
			height: 36px;
			position: relative;
			border: 1px solid transparent;
			border-radius: 100%;
			&:after {
				content: "";
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 100%;
				position: absolute;
				top: calc(50% - 2px);
				left: calc(50% - 2px);
				background-color: #000;
			}
			&.swiper-pagination-bullet-active {
				border-color: #000;
			}
		}
	}
  }





.category-item {
	.category-item__info {
		position: absolute;
		top: 33px;
		right: 27px;
		z-index: 3;
		a, button {
			border: 0px;
			width: 43px;
			height: 43px;
			background-color: #fff;
			border-radius: 100%;
			display: none;
			align-items: center;
			justify-content: center;
			opacity: 0;

			font-size: 24px;
			color: #000;

			transition: $transitionMain;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: $colorMain;
			}
			&:nth-child(1) {
				display: flex;
				opacity: 1;
			}
			&.voted {
				color: $colorMain;
				&:hover {
					background-color: #fff;
				}
			}
		}
		@media (max-width: 1199px) {
			top: 5px;
			right: 18px;
		}
	}
	.category-item__preview {
		display: inline-block;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		img {
			width: 100%;
			transition: $transitionMain;
			&.default-img {
				opacity: 1;
			}
			&.hover-img {
				position: absolute;
				top:0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				opacity: 0;
			}
		}
		a {
			position: absolute;
			z-index: 2;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
		}
	}
	.category-item__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin-bottom: 10px;
	}
	.category-item__price-block {
		font-weight: bold;
		.now {
			font-size: 16px;
			line-height: 19px;
			color: #71A011;
			&.order {
				color: $colorMain;
			}
		}
		.old {
			margin-left: 12px;
			font-size: 14px;
			line-height: 17px;
			text-decoration-line: line-through;
			color: #898989;
		}
	}
	&:hover {
		.category-item__info {
			a, button {
				@media (min-width: 992px) {
					display: flex;
					opacity: 1;
				}
			}
		}
		.category-item__preview {
			img {
				&.default-img {
					opacity: 0;
				}
				&.hover-img {
					opacity: 1;
				}
			}
		}
	}
}


.product {
	.btn-add-product {
		background-color: #000;
		&:hover {
			border-color: #f03c3c;
			background-color: #f03c3c;
			color: #fff;
		}
	}
	.category-item__price-block {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		.now {
			color: #000;
			&.order {
				color: #F03C3C;
			}
		}
		.old {
			margin-left: 18px;
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			text-decoration-line: line-through;
			color: #9C9E9C;
		}
	}
	p {
		font-size: 18px;
		line-height: 21px;
		color: #898989;
		margin-bottom: 15px;
	}
	.product-count_stock {
		display: block;
		border-top: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
		padding: 8px 0px;

		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #00A907;
	}
	.product-delivery {
		border-bottom: 1px solid #E5E5E5;
		padding: 14px 0 18px 0px;
		span {
			font-size: 14px;
			line-height: 16px;
			color: #000000;
		}
		.icon-truck, .icon-location {
			&:before {
				font-size: 16px;
				color: #000;
			}
		}
	}
}















.catalog {
	.catalog-filter {
		.block {
			padding-bottom: 55px;
		}
		.title {
			display: block;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 29px;
		}
		.item {
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #898989;
			margin-bottom: 20px;

			transition: $transitionMain;
			&:hover {
				text-decoration: none;
				color: $colorMain;
			}
		}
	}
}
.gallery-top {
	.swiper-slide {
		display: flex;
		justify-content: center;
	}
}
.gallery-thumbs {
	.swiper-slide {
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: center;

		border: 1px solid transparent;
		transition: $transitionMain;
		img {
			max-width: 110px;
			@media (max-width: 991px) {
				max-width: 70px;
			}
		}
		&.swiper-slide-active {
			border: 1px solid #F03C3C;
		}
	}
}







.nav-pills {
	border-bottom: 1px solid #E5E5E5;
	padding-top: 4px;
	margin-bottom: 32px;

	display: flex;
	justify-content: center;
	.nav-link {
		border-radius: 0px;
		padding: 0px;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #454545;
		margin-right: 46px;
		padding-bottom: 24px;
		border-bottom: 2px solid transparent;

		transition: $transitionMain;
		&.active {
			background: none;
			color: #F03C3C;
			border-color: #F03C3C;
		}
		&:hover {
			color: #F03C3C;
		}
		&.nth-child {
			margin: 0px;
		}
		@media (max-width: 991px) {
			margin-right: 0px;
			padding-bottom: 4px;
			margin-bottom: 15px;
		}
	}
	@media (max-width: 991px) {
		flex-direction: column;
		align-items: center;
	}
}

.tab-content {
	color:#565656;
	padding-top: 38px;
	p {
		color:#565656;
	}
}











.cart-line {
	position: relative;
	padding-top: 30px;
	padding-bottom: 25px;
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 1px;
		background: #C4C4C4;
	}

	.cart-line__title {
		font-size: 18px;
		line-height: 21px;
		color: #000000;

		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
	.cart-line__remove {
		font-size: 25px;
		color: #000;

		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
}












.contact-item {
	border: 1px solid #E5E5E5;
	padding: 29px 37px 59px 37px;
	.icon {
		font-size: 48px;
		color: $colorMain;
		margin-bottom: 6px;
	}
	a {
		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
	}
}



















.service-wrap {
	margin-top: -70px;
	position: relative;
	z-index: 10;
	padding: 50px 0px;
	background-color: #fff;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
.single-service-wrap {
		display: flex;
	.single-service-wrap__preview {
		font-size: 32px;
		color: #560303;
		margin-right: 16px;
	}
	.service-content {
		max-width: 160px;
		display: flex;
		flex-direction: column;
		span {
			@include font-gilroy;
			&:first-child {
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				margin-bottom: 5px;
			}
			&:last-child {
				font-size: 14px;
				line-height: 16px;
				color: #565656;
				margin: 0px;
			}
		}
	}
	.service-icon {
		margin-right: 20px;
	}
	&:hover {
		.service-icon {
			img {
				animation: .5s ease-in-out 0s normal none 1 running flipOutY;
			}
		}
	}
}










.banner-product {
	background: #F0F0F0;
	margin-bottom: 25px;

	.banner-product__left {
		max-width: 60%;
		padding: 29px 10px 26px 34px;
		@media (max-width: 991px) {
			max-width: 80%;
			padding: 20px 0 20px 20px;
			position: relative;
			z-index: 2;
		}
	}
	.banner-product__right {
		max-width: 40%;
		overflow: hidden;
		@media (max-width: 991px) {
			max-width: 120px;
			position: absolute;
			z-index: 1;
			top: 0px;
			right: 0px;
			bottom: 0px;

			display: flex;
			align-items: center;
		}
	}
	.title {
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 25px;
	}
	.description {
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin-bottom: 25px;
	}
	.banner-product__img {
		transform: translateX(20px);
		transition: $transitionMain;
	}
	&:hover {
		.banner-product__img {
			transform: translateX(0);
		}
	}
	@media (max-width: 991px) {
		position: relative;
	}
}









.swiper-hot-product {
	@media (max-width: 991px) {
		
		.swiper-wrapper {
			padding: 0 75px;
		}
		.swiper-slide {
			padding-right: 105px;

			display: flex;
			justify-content: center;
		}
	}
}

.single-product-wrap {
	position: relative;
	.product-img .product-action a {
		display: block;
		border: none;
		padding: 0;
		line-height: 1;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		color: #000000;
		border-radius: 100%;
		background-color: #ffffff;
		margin-bottom: 7px;
		border: 1px solid #ebebeb;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: $transitionMain;
		&:hover {
			border: 1px solid $colorMain;
			background: #F03C3C;
			text-decoration: none;
			color: #fff;
		}
	}
	.product-img .product-action a:nth-child(1) {
		-webkit-transition-delay: .2s;
		-o-transition-delay: .2s;
		transition-delay: .2s;
		opacity: 0;
		visibility: hidden;
		margin-top: -10px;


	}
	.product-img span.pro-badge {
		position: absolute;
		left: 0px;
		top: 15px;
		background: #F03C3C;
		padding: 2px 10px;

		@include font-gilroy;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.product-content-wrap-3 .title {
		@include font-gilroy;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #454545;
		margin-bottom: 9px;
		&:hover {
			color: $colorMain;
		}
	}
	.product-content-wrap-3 .product-price-4 span {
		&.new-price {
			@include font-gilroy;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #F03C3C;
		}
		&.old-price {
			@include font-gilroy;
			font-size: 14px;
			line-height: 16px;
			text-decoration-line: line-through;
			color: #9C9E9C;
		}
	}
	&:hover {
		.product-img .product-action a:nth-child(1) {
			-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
			transition-delay: .1s;
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}
	}
	.product-action {
		position: absolute;
		top: 5px;
		right: 5px;
	}
}




.swiper-brend {
	.swiper-pagination-bullets {
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		&:hover {
			cursor: pointer;
		}
	}
}











.info-block {
	padding: 140px 0 120px 0;
	background: #F4F4F4;
	@media (max-width: 991px) {
		padding: 30px 0px;
	}
}









.swiper-news {
	.swiper-slide {
		@media (max-width: 991px) {
			padding-right: 48px;
			padding-left: 48px;
		}
	}
	
}
.news-mini {
	padding: 31px;
	background-color: #F4F4F4;
	.news-mini__preview {
		display: block;
		margin-bottom: 10px;
		overflow: hidden;
		img {

		}
	}
	.news-mini__date {
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin-bottom: 10px;
		display: block;
	}
	.news-mini__title {
		display: inline-block;
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin-bottom: 12px;
		transition: $transitionMain;
		&:hover {
			color: $colorMain;
			text-decoration: none;
		}
	}
	.news-mini__description {
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin-bottom: 15px;
	}
	@media (max-width: 991px) {
		padding: 20px;
	}
}










.shop-area {
	padding-top: 45px;
}
.sidebar-widget {
	padding-bottom: 48px;
}
.sidebar-widget-title {
	display: block;
	
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	padding-bottom: 20px;
	&.sidebar-widget-title_border {
		border-bottom: 1px solid #9C9E9C;
		padding-bottom: 10px;
		margin-bottom: 18px;
	}
}
.sidebar-widget__link {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin-bottom: 15px;

	transition: $transitionMain;
	&:hover {
		text-decoration: none;
		color: $colorMain;
	}
}
.shop-topbar-wrapper {
	padding: 21px 26px;
	border: 1px solid #E5E5E5;
	margin-bottom: 30px;
	select {
		border: 1px solid #E5E5E5;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 5px 13px;
		font-size: 14px;
		line-height: 16px;
		color: #9C9E9C;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	@media (max-width: 991px) {
		padding: 20px 0px;	
	}
}










.single-product-wrap  {
	background: #FFFFFF;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	padding: 5px;
	.product-img {
		position: relative;
		overflow: hidden;

		display: flex;
		justify-content: center;
		img {
			transition: $transitionMain;
		}
	}
	.categ {
		display: block;
		font-size: 14px;
		line-height: 16px;
		color: #9C9E9C;
		margin-bottom: 10px;
	}
	.title {
		display: inline-block;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		margin-bottom: 10px;

		transition: $transitionMain;
		&:hover {
			text-decoration: none;
		}
	}
	.product-price-4 {
		display: flex;
		align-items: flex-end;
	}
	.old-price {
		margin-left: 4px;
		padding-bottom: 6px;
	}
    .product-content-position {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -30px;
		-webkit-transition: all .3s ease 0s;
		-o-transition: all .3s ease 0s;
		transition: all .3s ease 0s;
		visibility: hidden;
		opacity: 0;
		background-color: #fff;
		padding: 17px 10px 5px;
	}
	&:hover  {
		.product-img {
			img {
				transform: scale(1.1);
			}
		}
		.product-content-position {
			opacity: 1;
			visibility: visible;
			bottom: 0;
		}
	}
	&.single-product-wrap_no-shadow {
		box-shadow: none;
	}
}


.team-item {
	padding-bottom: 16px;
	background: #FFFFFF;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}






.swiper-products {
	.swiper-slide {
		@media (max-width: 991px) {
			padding: 0px 48px 30px 48px;
		}
	}
}