.header {
	.header__top {
		padding: 12px 0px 16px 0px;
		border-bottom: 1px solid #E1E1E1;
	}
	.header__middle {
		padding: 10px 0 24px 0;
	}
	.header__bottom {
		background-color: $colorMain;
		@media (max-width: 991px) {
			background: none;
		}
	}
}






// навигация
.navigation {
	.navigation__link {
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		color: #FFFFFF;

		transition: $transitionMain;
		&:hover {
			color: $colorRare;
			text-decoration: none;
		}
		&.active {
			color: $colorRare;
		}
		@media (max-width: 991px) {
			color: #000;
			margin-bottom: 15px;
		}
	}
}
.catalog-btn {
	height: 48px;
	background: #560303;
	padding: 0 16px 0 25px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;

	cursor: pointer;

	span {
		font-size: 11px;
	}
	@media (max-width: 991px) {
		border-radius: 5px 5px 0 0;
		background-color: $colorMain;
	}
}



// Поиск
.form-search {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid  $colorMain;
	.form-search__input {
		padding: 15px 0px;
		border: 0px;
		width: calc(100% - 54px);
		&:focus {
			outline: none;
		}
	}
	.form-search__btn {
		width: 54px;
		border: 0px;
		background: none;
		padding: 15px 15px 15px 0;

		display: flex;
		align-items: center;
		justify-content: flex-end;

		font-size: 18px;
		color: #000;

		transition: $transitionMain;
		&:hover {
			color: $colorMain;
		}
	}
	@media (max-width: 991px) {
		margin-top: 17px;
		border: 1px solid #EDEDED;
		border-radius: 50px;
		.form-search__input {
			border-radius: 50px;
			padding-left: 40px;
			color: #000;
		}
	}
}



// Мини корзина
.minicart {
	position: relative;
	.minicart__link {
		display: block;
		position: relative;
		color: #000;
		font-size: 18px;
		.minicart__count {
			position: absolute;
			top: -6px;
    		right: -14px;
			width: 20px;
			height: 20px;
			background-color: $colorRare;
			border-radius: 100%;
	
			display: flex;
			align-items: center;
			justify-content: center;
	
			@include font-gilroy;
			font-size: 14px;
			line-height: 16px;
			color: #fff;
	
		}
		&:hover {
			text-decoration: none;
			color: $colorMain;
			transition: $transitionMain;
			.minicart__count {
				color: #fff;
			}
		}
	}
	@media (max-width: 1300px) {
		margin-left: 20px;
	}
}

.minicart__dropdown {
	position: fixed;
	z-index: 10;
	right: -110%;
	top: 0;
	bottom: 0px;
	left: 110%;
	opacity: 0;
	
	display: flex;
	justify-content: flex-end;
	background-color: rgba(0, 0, 0, 0.75);

	transition: $transitionMain;
	.minicart__dropdown_content {
		-webkit-box-shadow: 0 10px 12px 0 rgba(0,0,0,0.21);
		box-shadow: 0 10px 12px 0 rgba(0,0,0,0.21);
		max-width: 360px;
		width: 100%;
		background: #fff;
		padding: 20px;
	}
	.minicart__dropdown_close {
		cursor: pointer;
		font-size: 36px;
		transform: rotate(45deg);
		transition: $transitionMain;
		&:hover {
			color: $colorMain;
			transform: rotate(225deg);
		}
	}
	.minicart__list-content {
		padding: 0px;
		margin: 0px;
		max-height: 40vh;
		overflow-y: scroll;
		.minicart__product {
			list-style: none;
			display: flex;
			padding-right: 6px;
			margin-bottom: 18px;
		}
		.minicart__preview {
			min-width: 70px;
			min-height: 90px;
			width: 70px;
			height: 90px;
			overflow: hidden;
		}
		.minicart__title {
			padding: 0 6px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			a {
				font-size: 16px;
				line-height: 18px;
				color: #000;
				transition: $transitionMain;
				margin-bottom: 10px;
				&:hover {
					color: $colorMain;
					text-decoration: none;
				}
			}
			.price {
				color: $colorMain;
			}
		}
		.minicart__delete {
			a {
				font-size: 18px;
				color: #000;
				transition: $transitionMain;
			}
			&:hover {
				a {
					color: $colorMain;
					text-decoration: none;
				}
			}
		}
	}
	.minicart__total {
		padding: 15px 0px;
		margin: 18px 20px 18px 0px;
		border-top: 1px dashed #e5e5e5;
		border-bottom: 1px dashed #e5e5e5;

		display: flex;
		justify-content: space-between;
		span {
			font-size: 18px;
			&:last-child {
				font-size: 22px;
				color: $colorMain;
				font-weight: bold;
			}
		}
	}
	.minicart-btns {
		padding-right: 20px;
	}
	&.minicart__dropdown_active {
		opacity: 1;
		left: 0px;
		right: 0px;
	}
}

.menu-modal {
	background-color: rgba(0,0,0, 0.7);
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 105%;
	right: -105%;
	bottom: 0px;
	display: flex;
	justify-content: flex-end;
	
	transition: $transitionMain;
	.menu-modal__content {
		background-color: rgba(255, 255, 255, 1);
		width: 100%;
		height: 100%;
		max-width: 300px;
		padding: 40px 20px;
	}
	.menu-modal__close {
		height: 20px;
		width: 20px;
		cursor: pointer;
		position: relative;
		&:before, 
		&:after {
			top: 50%;
			margin-top: -2px;
			margin-right: -20px;
			display: inline-block;
			background-color: #2d2a2a;
			position: absolute;
			content: "";
			width: 20px;
			height: 2px;
			right: auto;
		}
		&:before {
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			transition: background-color .25s ease,transform .25s ease,-webkit-transform .25s ease;
		}
		&:after {
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			transition: background-color .25s ease,transform .25s ease,-webkit-transform .25s ease;
		}
		&:hover {
			&:before,
			&:after {
				background-color: $colorMain;
				-webkit-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}
	}
	.menu-modal__block {
		padding: 15px 0;
		margin: 18px 0;
		border-top: 1px dashed #e5e5e5;
		border-bottom: 1px dashed #e5e5e5;
	}
	.header-phone {
		margin: 0px;
		color: #000;
		font-size: 18px;
		font-weight: bold;
	}
	&.menu-modal_active {
		left: 0px;
		right: 0px;
	}
}
.catalog-drop {
	cursor: default;
    position: fixed;
    z-index: -100;
    top: 0px;
    right: 100%;
    bottom: 0px;
    left: -100%;
    opacity: 0;
    transition: $transitionMain;
    
    background-color: rgba(255, 255, 255, 0.95);
    
    padding-bottom: 25px;
    
    overflow: auto;
    
	display: none;
	.catalog-drop-close {
		cursor: pointer;
		span {
			color: #000;
			font-size: 36px;
			font-weight: bold;

			display: block;
			transform: rotate(45deg);
			transition: $transitionMain;
		}
		&:hover {
			span {
				color: $colorMain
			}
		}
	}
	.title {
		span {
			color: #000;
			font-size: 16px;
			font-weight: bold;
			transition: $transitionMain;
			text-transform: none;
		}
		&:hover {
			text-decoration: none;
			span {
				color: $colorMain;
			}
		}
	}
	&.show {
		right: 0px;
		left: 0px;
		opacity: 1;
		z-index: 100;
		transition: $transitionMain;
		display: block;
		@media (max-width: 991px) {
			right: 0px;
			left: 0px;
		}
	}
	@media (max-width: 991px) {
		right: -100%;
		left: 100%;
	}
}

#burger {
	width: 25px;
	height: 30px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	span {
		position: relative;
		width: 25px;
		height: 2px;
		background-color: $colorMain;
		transition: $transitionMain;
		&:after,
		&:before {
			position: absolute;
			left: 5px;
			right: -5px;
			content: "";
			height: 2px;
			background-color: $colorMain;
			transition: $transitionMain;
		}
		&:before {
			top: -6px;
		}
		&:after {
			bottom: -6px;
		}
	}
	&:hover {
		span {
			background-color: $colorMain;
			&:before,
			&:after {
				background-color: $colorMain;
			}
		}
	}
}















// соц сети
.social {
	.social__item {
		font-size: 18px;
		color: #000;
		transition: $transitionMain;
		margin-right: 17px;
		&:hover {
			text-decoration: none;
			color: $colorMain;
		}
		&:last-child {
			margin: 0px;
		}
	}
}
.heart-link,
.user-link {
	height: 24px;
	font-size: 24px;
	line-height: 1;
	color: #000;
	transition: $transitionMain;
	&:hover {
		text-decoration: none;
		color: $colorMain;
	}
}
.user-link {
	font-size: 30px;
}
.price-link {
	font-size: 32px;
	color: #000;
	transition: $transitionMain;
	.icon-price {
		color: #174051;
	}
	&:hover {
		text-decoration: none;
		color: $colorMain;
	}
}
 .phone-link {
	transition: $transitionMain;
	.icon-phone {
		font-size: 32px;
		line-height: 1;
		color: #174051;
		@media (max-width: 991px) {
			font-size: 24px;
			&:before {
				color: $colorMain;
			}
		}
	}
	span {
		font-size: 14px;
		line-height: 14px;
		color: #9C9E9C;
		transition: $transitionMain;
		&.phone-link__number {
			color: #000;
			font-size: 20px;
			line-height: 20px;
		}
	}
	&:hover {
		text-decoration: none;
		.phone-link__number {
			color: $colorMain;
		}
	}
 }